.back-main {
    height: 480px;
    background-color: #cee8e0;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-div-main {
    text-align: center;
    height: 300px;
    width: 50%;
    margin-left: 25%;
}
.about-div-main h4{
    font-size: 18px;
    color: #088178;
    font-weight: 600;
}
.about-div-main h1{
    font-size: 58px;
    font-weight: 900;
}
.about-div-main p{
    font: inherit;
    font-size: 16px;
}
.btn-about-us{
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #046963;
    background-color: #088178;
    cursor: pointer;
}
.btn-about-us2{
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 26px;
    border-radius: 4px;
    text-decoration: none;
    color: #046963;
    border: 1px solid #046963;
    cursor: pointer;
}