.box-div1 {
    text-align: center;
}
.box-div1 h6{
    font-size: 14px;
    color: #088178;
}
.box-div1 h2{
    font-size: 30px;
}
.box-div1 p{
    font-size: 16px;
}
.box-img1 {
    display: flex;
    justify-content: space-between;
}
.b11 {
    width: 31%;
    height: 290px;
}
.b11 img {
    width: 100%;
    border-radius: 5%;
    height: 210px;
}
.inner-box1 {
    text-align: center;
}
.inner-box1 h4{
    font-size: 18px;
}
.inner-box1 p{
    font-size: 14px;
    color: #727272;
    margin: 0%;
}