.box1 {
    width: 54%;
}
.box1 p{
    font-size: 14px;
}
.box2 {
    width: 44%;
    text-align: end;
}
.box1 h5{
    color: #088178;
}
.box-div {
    display: flex;
    justify-content: space-between;
}
.box2 button {
    background-color: white;
    color: #088178;
    border: 1px solid #088178;
    height: 40px;
    width: 120px;
    font-weight: 400;
    border-radius: 8px #088178;
    margin-top: 60px;
}
.box-img {
    display: flex;
    justify-content: space-between;
}
.b1 {
    width: 22%;
    height: 388px;
}
.b1 img {
    width: 100%;
    border-radius: 5%;
    height: 268;
}
.inner-box {
    text-align: center;
}
.inner-box h4{
    font-size: 18px;
}
.inner-box p{
    font-size: 14px;
    color: #088178;
    margin: 0%;
}
.icons-members i {
    padding: 4px;
    color: rgb(133, 132, 132);
}