.second_col {
    background-image: url("https://wp.alithemes.com/html/evara/evara-frontend/assets/imgs/banner/banner-5.jpg");
    background-size: contain;
    height: 320px;
}

.third_col1 {
    background-image: url("https://wp.alithemes.com/html/evara/evara-frontend/assets/imgs/banner/banner-6.jpg");
    background-size: contain;
    height: 150px;
}
.third_col2 {
    background-image: url("https://wp.alithemes.com/html/evara/evara-frontend/assets/imgs/banner/banner-7.jpg");
    background-size: contain;
    height: 150px;
}
.first_img {
    width: 100%;
}
.row_main {
    justify-content: space-between;
    margin-left: 100px;
}
.pblog {
    margin-bottom: 0%;
}
.second_col {
    text-align: left;
    padding-top: 30px;
}
.third_col1 {
    text-align: left;
    padding-left: 8px;
    padding-top: 10px;
}
.third_col2 {
    text-align: left;
    padding-left: 114px;
    padding-top: 10px;
}
.first_content {
    text-align: left;
}
.first_content p{
    margin-bottom: 0%;
}