.card_menu {
    border: 1px solid rgb(214, 213, 213);
    text-align: left;
    padding: 20px;
}
.text-line {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
}

.bold-text {
    font-weight: bold;
}

.regular-text {
    font-weight: normal;
}
.card_img1 {
    background-image: url("https://wp.alithemes.com/html/evara/evara-frontend/assets/imgs/banner/banner-11.jpg");
    background-size: cover;
    height: 254px;
}
.over_img {
    width: 60%;
    padding-left: 12px;
    padding-top: 36px;
    text-align: left;
}
.over_img p {
    margin-bottom: 0%;
}
.menu_text {
    text-decoration: none;
    color: rgb(123, 121, 121);
    font-weight: 400;
}